<!--
File: home.html
Author: Tóth Júlia
Copyright: 2022, Tóth Júlia
Group: Szoft 1/n
Date: 2022-05-12
Github: https://github.com/haribomaci/
Licenc: GNU GPL
-->

<h2>
    Trapéz területe
</h2>
<form action="result.php" id = "inputForm" method="get">
    <div>
        <label for="aSide" class="form-label">a oldal</label>
        <input type="text" id="aSide" name="aSide"
        class="form-control">
    </div>

    <div>
        <label for="bSide" class="form-labe">b oldal</label>
        <input type="text" id="bSide" name="bSide" 
        class="form-control">
    </div>

    <div>
        <label for="cSide" class="form-labe">c oldal</label>
        <input type="text" id="cSide" name="cSide"
        class="form-control">
    </div>

    <div>
        <label for="dSide" class="form-labe">d oldal</label>
        <input type="text" id="dSide" name="dSide"
        class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Számít</button>
</form>